.choice {
  /* background-color: red; */
  height: 100px;
  width: 100px;
  margin: 20px;
}
.your-choice,
.cumputer-choice {
  display: flex;
  justify-content: center;
}
.result {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.refresh {
  font-size: 18px;
  font-weight: bold;
  font-family: system-ui;
  position: absolute;
  bottom: 20%;
  left: 45%;
}
